<h1>
  {{title}}
</h1>
<menu>
  <!--<a routerLink="/test" routerLinkActive="active">test</a>-->
  <a routerLink="/customize/shirt" routerLinkActive="active">customize your shirt</a>
</menu>
<router-outlet></router-outlet>
