<p>
  customize-shirt works!
</p>

<mat-horizontal-stepper [linear]="false">
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Select Fabric</ng-template>
      <div fxLayout="row wrap" fxLayoutAlign="space-between center">
        <div
          class="img-selection"
          fxFlex="20"
          fxLayoutGap="10px"
          *ngFor="let fabric of fabrics"
          (click)="selectFabric(fabric)"
          [style.border]="getSelectedFabricStyle(fabric)"
          [ngStyle]="{'background-image': 'url(/assets/images/fabrics/' + fabric.image_src + ')'}">
          {{fabric.name}}
        </div>
      </div>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Collar Style</ng-template>
      <div fxLayout="row wrap" fxLayoutAlign="space-between center">
        <div
          class="img-selection"
          fxFlex="20"
          fxLayoutGap="10px"
          *ngFor="let collar of collars"
          (click)="selectCollar(collar)"
          [style.border]="getSelectedCollarStyle(collar)"
          [ngStyle]="{'background-image': 'url(/assets/images/collars/' + collar.image_src + ')'}">
          {{collar.name}}
        </div>
      </div>
      <!--<mat-form-field>-->
      <!--<input matInput placeholder="Address" formControlName="secondCtrl" required>-->
      <!--</mat-form-field>-->
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Sleeve Style</ng-template>
      <!--<mat-form-field>-->
      <!--<input matInput placeholder="Address" formControlName="secondCtrl" required>-->
      <!--</mat-form-field>-->
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Pockets</ng-template>
      <!--<mat-form-field>-->
      <!--<input matInput placeholder="Address" formControlName="secondCtrl" required>-->
      <!--</mat-form-field>-->
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Shirt Body</ng-template>
      <!--<mat-form-field>-->
      <!--<input matInput placeholder="Address" formControlName="secondCtrl" required>-->
      <!--</mat-form-field>-->
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Button Style</ng-template>
      <!--<mat-form-field>-->
      <!--<input matInput placeholder="Address" formControlName="secondCtrl" required>-->
      <!--</mat-form-field>-->
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    You are now done.
    <div>
      <button mat-button matStepperPrevious>Back</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
